head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300', type='text/css')
    
    h1 Welcome to Express.js
    h3 A demo application by Francesca Gauci
    h5 4me307VT20 — Internet Architectures